<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a <strong>Software Developer Intern at 
      <a class="underline-link" href="https://www.invidi.com/" target="_blank">INVIDI Technologies</a></strong> in Edmonton, Canada, 
      developing and maintaining Kotlin & Python services for seamless ad delivery. I’m also studying 
      Computer Science at the 
      <a class="underline-link" href="https://www.ualberta.ca/index.html" target="_blank">University of Alberta</a>, 
      where I focus on building scalable, efficient software solutions.
    </p>

    <p>
      Before that, I worked as a <strong>Software Developer Intern at <a class="underline-link" href="https://www.tce.co.in/" target="_blank">TATA Consulting Engineers Limited</a></strong>, 
      where I implemented time-series forecasting models (ARIMA & SARIMA) and built real-time dashboards 
      that streamlined inventory management. I love bridging back-end architecture with user-friendly interfaces 
      to create impactful, full-stack solutions.
    </p>

    <p>
      As a software engineer, I'm passionate about containerization, cloud deployments (AWS, Docker, Kubernetes), 
      and agile development practices. My goal is always to deliver robust systems under the hood while providing 
      engaging, intuitive user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm usually exploring the outdoors, working on 
      side projects, or crossing off something new on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
